* {
  font-family: "Quicksand", sans-serif;
}
html,
body,
#app,
#wrapper {
  height: 100%;
  margin: 0;
}
#wrapper {
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr);
}
#data {
  padding: 30px;
  grid-column: col-start 1 / span 2;
  grid-row: 1;
}
#map {
  grid-column: col-start 3 / span 7;
  grid-row: 1;
}
.logo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
