@import "breakpoints";

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
html,
body,
#app,
#wrapper {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  #data {
    padding: 1rem;
    flex: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // text-align: center;

    @include md {
      flex: 36%;
      padding: initial;
      margin: 0 1rem;
    }

    @include lg {
      justify-content: initial;

    }

    @include xl {
      flex: 20%;

    }

    @include xxl {
      flex: 15%;
    }
  }

  #map {
    flex: 62vh;

    @include md {
      flex: 1 0 64%;
    }

    @include xl {
      flex: 1 0 76%;
    }

    @include xxl {
      flex: 1 0 80%;
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 30px;

  p {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: .5rem 0;

    @include md {
      font-size: .8em;
      margin: 1rem 0;
    }
  }

  .logo {
    width: 36px;

    @include md {
      padding-top: 1rem;
    }
    @include xl {
      width: 75px;
    }
  }

  @include xl {
    padding: initial;
    flex-direction: column;

    h1 {
      margin-top: 1rem;
      font-size: 2.6rem;
    }
  }
  
}

.selector {
  padding: 4px 0;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  @include md {
    flex-direction: column;
  }
  h2 {
    flex: 1 0 15%;
    font-size: 1.2rem;
    margin: 0;
  }
  .v-select {
    flex: 1 0 85%;
    @include md {
      margin: 1rem 0;
    }
  }
}

.notice {
  display: flex;
 
  p {
    font-size: .78em;
    font-weight: bold;
    text-align: center;
  }
  @include md {
    flex-direction: column;
    p{
      font-size: initial;
      text-align: center;
      padding: .5rem 0;
    }
  }
}

.author {
  font-size: .9em;
  padding-top: 4px;
  text-align: center;

  @include md {
    font-size: initial;
  }
}

.contribute{
	margin-top: 1em;
	font-size: .9em;
  padding-top: 4px;
  text-align: center;

  @include md {
    font-size: initial;
  }
}